@media only screen and (max-width: 600px) {
    .elesarr {
      /* background-color: green; */
      /* margin-top: ; */
      /* height: 130px; */
      position: relative !important;
      left: 200px !important;
      right: 0px;
      margin-top:-2px

      /* display: inline-block !important; */
    }
    .navbar-brand{
      margin-top:0px
    }
    #accordionSidebar{
      display: none;
    }
  }





  @media only screen and (min-width: 700px) {
    .elesarr {
      /* background-color: green; */
      /* margin-top: ; */
      height: 120px;
      position: relative !important;
      left: 1100px !important;
      right: 0px;
      padding-top: 0px;
      margin-top: 0px;
      margin-left: 20px;
      display: inline-block !important;
    }
    /* #accordionSidebar{
      display: none;
    } */
  }



  @media only screen and (min-width: 900px) {
    .elesarr {
      /* background-color: green; */
      /* margin-top: ; */
      height: 160px;
      position: relative !important;
      left: 100px !important;
      right: 0px;
      padding-top: 0px;
      margin-top: 0px;
      display: inline-block !important;
    }
    /* #accordionSidebar{
      display: none;
    } */
    
  }




/* @media (max-width: 991px){
  .navbar-brand img {
    max-width: 120px !important; 
    margin: 0 auto !important;
    position: relative !important;
    left: 600px !important;
      right: 20px;
    display: inline-block !important;
    top: 1px !important;
    margin-top:0px !important;
    margin-left: 20px !important;
}
} */
